* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("/images/email-pattern.png");
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.card-name {
	color: teal;
	margin: 10px;
}

.card-body {
	padding: 20px;
	float: left;
}

container {
	min-height: 75vh;
	padding: 20px;
}

.navbar-right > li.nav-link {
	float: inline-end, right;
}

.navbar-brand {
	background-color: teal;
	color: white;
	height: auto;
}

.mytext {
	padding-top: 20px;
	padding-right: 20px;
}

@media only screen and (max-width: 600px) {
	img {
		display: block;
		float: left;
		margin: 0 auto 20px;
 	}
}

.spacer {
	flex: 1;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: grey;
	text-align: center;
	border-top: 5px solid teal;
}
.text-center {
	max-height: 10vh;
	padding: 0.1em 0.1em;
}

#name, #email, #subject {
  Display:flex;
  flex-wrap: wrap;
}

textarea {
  width: 100%;
}

.row {
	margin: 8px -16px;
}

.row > .column {
	padding: 8px;
	  }

.column {
	float: left;
	width: 50%;

.row:after {
	content: "";
	display: table;
	clear: both;
}

.content {
	background-color: white;
	padding: 10px;
	text-align: center;
  }

